@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
}

:root {
    --primary-color: #ddd6f3;
    --secondary-color: #faaca8;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    width: 500px;
    margin: 0 auto;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    overflow: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.todo-grid {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
}

/* Header */

.todo-grid .header .title {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

/* New Task */
.task-add {
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 10px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.new-task {
    display: flex;
    flex-direction: row;
}

input {
    display: block;
}

.new-task input[type='text'], 
.new-task input[type='date']{
    border: 0;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.form-control {
    margin: 5px;
    display: flex;
}

.form-control .submit-task {
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    text-align: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
}


.form-control .submit-task:hover {
    transform: scale(.9);
    cursor: pointer;
}

.form-control .submit-task:active {
    background: var(--secondary-color);
}

img {
    width: 100%;
    filter: invert(100%);
}

/* Display Settings */

.display-settings {
    justify-self: space-between;
}

.navbar .menu {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-size: 16px;
}

.navbar .flex {
    justify-content: space-evenly;
}

.dropbtn {
    cursor: pointer;
    background-color: rgba(250, 172, 168, 0.2);
    color: black;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.drop-down {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(250, 172, 168, 0.1);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
    border-radius: 10px;
    justify-content: center;
}

.dropdown-content a {
    color: black;
    padding: 4px 8px;
    display: block;
}

.select-sort {
    outline: none;
}

.dropdown-content input,
.dropdown-content button {
    padding: 4px 8px;
}

.drop-down .dropdown-content .filter-input {
    width: 134px;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.50);
}

.drop-down .dropdown-content .filter-control .filterbtn,
.drop-down .dropdown-content .filter-control .resetbtn {
    background-color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    cursor: pointer;
    justify-self: center;
    min-width: 67px;
    padding: 3px;
    border-radius: 10px;
    border: none;
}

.dropdown-content a:hover,
.drop-down .dropdown-content .filter-control .filterbtn:hover,
.drop-down .dropdown-content .filter-control .resetbtn:hover {
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
}

.dropdown-content a:active,
.drop-down .dropdown-content .filter-control .filterbtn:active,
.drop-down .dropdown-content .filter-control .resetbtn:active {
    font-weight: bold;
} 

.drop-down:hover .dropdown-content {
    display: block;
}

.drop-down:hover .dropbtn {
    font-weight: bold;
    border-radius: 5px;
}

.drop-down .select-sort:active,
.drop-down .select-sort .sort-option:hover {
    background-color: rgba(250, 172, 168, 0.2);
}

.filter-control {
    display: flex;
}

/* Clear all tasks */
.clear {
    font-size: 18px;
    background-color: var(--primary-color);
    margin: 50px 0 0 0;
    width: 450px;
}

.clear:hover {
    background-color: var(--secondary-color);
    color: white;
}

.clear:active {
    transform: scale(.9);
}

/* Task List */

.tasks {
    margin: 10px 0 auto 0;
}

.tasks-title {
    margin: 10px;
}

.task {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 18px;
    align-items: center;
    margin: 10px;
}

.task-done-btn {
    transform: scale(1.5);
}

.task-delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 14px 10px 14px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    font-size: 18px;
}

.task-delete:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: var(--primary-color);
}

.task-delete.gray-out {
    background-color: rgba(0,0,0,0);
    color: gray;
}

.task-delete.gray-out:hover {
    background-color: var(--primary-color);
}

.task-name {
    padding-left: 30px;
    grid-column: span 2;
}

ul li {
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.50);
}

ul li.checked {
    background-color: rgba(0,0,0,.2);
    color: gray;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: gray;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

ul li.hide {
    display: none;
}

/* Utilities */

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}